<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	 http://www.springframework.org/schema/util 
	 http://www.springframework.org/schema/util/spring-util-2.5.xsd">
	<bean id="people" class="x.y.People" autowire="byName" scope="prototype"/>
	<bean id="p1" class="x.y.Person">
		<constructor-arg value="홍홍홍"/>
		<constructor-arg value="38"/>
	</bean>
	<bean id="s1" class="x.y.Student">
		<constructor-arg value="홍길동"/>
		<constructor-arg value="20"/>
		<constructor-arg value="111111"/>
	</bean>
	<bean id="t1" class="x.y.Teacher">
		<constructor-arg value="김심청"/>
		<constructor-arg value="36"/>
		<constructor-arg value="자료구조"/>
	</bean>
	<util:list id="list">
		<ref bean="p1"/>
		<ref bean="s1"/>
		<ref bean="t1"/>
	</util:list>
</beans>