<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="student" class="x.y.Student">
		<constructor-arg value="홍길동"/>
		<constructor-arg value="20"/>
		<constructor-arg value="111111"/>
	</bean>
	<bean id="teacher" class="x.y.Teacher">
		<constructor-arg value="김심청"/>
		<constructor-arg value="36"/>
		<constructor-arg value="자료구조"/>
	</bean>
</beans>