<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="greetingTarget" class="myspring.aop.GreetingServiceImpl">
		<property name="greeting">
			<value>Hello</value>
		</property>
	</bean>
	<bean id="beforeLogAdvice" class="myspring.aop.MethodBeforeLogAdvice"/>
	<bean id="afterLogAdvice" class="myspring.aop.MethodAfterLogAdvice"/>
	<bean id="throwsLogAdvice" class="myspring.aop.MethodThrowsLogAdvice"/>
	<bean id="performanceCheckAdvice" class="myspring.aop.PerformanceCheckAdvice"/>
	
	<bean id="helloPointcut" class="org.springframework.aop.support.JdkRegexpMethodPointcut">
		<property name="pattern">
			<value>.*sayHello.*</value>
		</property>
	</bean>
	
	<bean id="helloAdvisor1" class="org.springframework.aop.support.DefaultPointcutAdvisor">
		<property name="advice">
			<ref bean="beforeLogAdvice"/>
		</property>
		<property name="pointcut">
			<ref bean="helloPointcut"/>
		</property>
	</bean>
	<bean id="helloAdvisor2" class="org.springframework.aop.support.DefaultPointcutAdvisor">
		<property name="advice">
			<ref bean="afterLogAdvice"/>
		</property>
		<property name="pointcut">
			<ref bean="helloPointcut"/>
		</property>
	</bean>
	<bean id="helloAdvisor3" class="org.springframework.aop.support.DefaultPointcutAdvisor">
		<property name="advice">
			<ref bean="throwsLogAdvice"/>
		</property>
		<property name="pointcut">
			<ref bean="helloPointcut"/>
		</property>
	</bean>
			
	<bean id="greeting" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="target">
			<ref bean="greetingTarget"/>
		</property>
		<property name="interceptorNames">
			<list>
				<value>helloAdvisor1</value>
				<value>helloAdvisor2</value>
				<value>helloAdvisor3</value>
			</list>
		</property>
	</bean>
		
</beans>