<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans.xsd
	 http://www.springframework.org/schema/aop 
	 http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

	<bean id="greetingTarget" class="com.consolution.test.aop.GreetingServiceImpl">
		<property name="greeting">
			<value>Hello</value>
		</property>
	</bean>
	
	<bean id="logAspect" class="com.consolution.test.aop.pojo.LogAspect"/>
	<bean id="performanceAspect" class="com.consolution.test.aop.pojo.PerformanceAspect"/>
	
	<aop:config>
		<aop:pointcut id="publicMethod" expression="execution(public * *(..))"/>
		<aop:aspect ref="logAspect">
			<aop:before method="beforeLogging" pointcut-ref="publicMethod"/>
			<aop:after-returning method="afterLogging" pointcut-ref="publicMethod" returning="returnValue"/>
			<aop:after-throwing method="throwingLogging" pointcut-ref="publicMethod" throwing="ex"/>
			<aop:after method="alwaysLogging" pointcut-ref="publicMethod"/>
		</aop:aspect>
		<aop:aspect ref="performanceAspect">
			<aop:around method="timeCheck" pointcut-ref="publicMethod"/>
		</aop:aspect>
	</aop:config>
		
</beans>