<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="bar" class="x.y.Bar" />
	<bean id="foo" class="x.y.Foo">
		<lookup-method name="getBar" bean="bar" /> <!-- Foo의 getBar 오버라이딩. 리턴할 것을 null 아니라 bar로. Look-up 메서드 인젝션 -->
	</bean>

</beans>